
img {
	width:300px;
	transition: .3s ease;
}

img:hover {
	transform: scale(1.2);
}
div h1 {
	font-size: 35px;
	font-weight: bold;
}
div h2 {
	font-size: 20px;
	 text-align: justify;
}
div h3 {
	font-size 25px;
	font-weight: bold;
}
div h4 {
	font-size: 20px;
}
	

div ul{
	font-size: 20px;
}
 h5 a{
	font-size:20px;
	color:white;
	padding:10px 20px;
	text-decoration:none;
	margin:10px 30px 10px 0px;
background: #3BA7E1;
	box-shadow: 0px 5px 0px #18171760;
}

